@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%; /* Preto Suave */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 330 80% 55%; /* Rosa Magenta */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 96%; /* Cinza Neutro Claro */
    --secondary-foreground: 240 5% 35%;
    --muted: 300 25% 96%; /* Lilás um pouco mais escuro para contraste */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 270 90% 98%; /* Lilás Suave */
    --accent-foreground: 270 50% 40%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%; /* Cinza Neutro para Bordas */
    --input: 240 5.9% 90%;
    --ring: 260 80% 65%; /* Azul Violeta */
    --chart-1: 197 71% 52%;
    --chart-2: 152 65% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%; /* Fundo Escuro */
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 330 80% 60%; /* Rosa Magenta (um pouco mais claro) */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 18%;
    --muted-foreground: 240 5% 65%;
    --accent: 260 80% 25%; /* Lilás/Violeta mais escuro */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 260 80% 65%; /* Azul Violeta */
    --chart-1: 197 71% 52%;
    --chart-2: 152 65% 52%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.perspective {
  perspective: 800px;
}
